<!DOCTYPE html>
<html  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="htpp://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Dorms</title>
  <style>
    table{
      width: 100%;
    }
    table, th, td {
      border:1px solid black;
    }
  </style>
</head>
<body>
<h3>Список общежитий</h3>
<table>
  <th>Номер общежития</th>
  <th>Адресс общежития</th>
  <th>Количество жилых комнат</th>
  <div th:each="dorm:${dorms}">
    <tr >
      <td><span th:text="${dorm.id}"> Number </span></td>
      <td><span th:text="${dorm.address}"> Address </span></td>
      <td><span th:text="${dorm.numberLivingRooms}"> Living room </span></td>
    </tr>
  </div>
</table>
</body>
</html>